@media(max-width:768px){
     *{
        margin: 0px;
     }
    header{
        width:80%;
        height:25px;
        border-bottom: 1px solid grey;
        }
.first {
    width: 95%;
    height: 25px;
}
.first h1{
    width: 100%;
   height: auto;
    
}
.main{
    width: 85%;
    height: auto;
}
.main img{
    width: 300px;
    height: auto;
    margin-right: 200px;
}
.main h1{
    display: none;
}
.freshcart button{
   display: none;
}
.freshcart input{
   
   display: none;
}
.freshcart h2{
    width:100%;
  padding: 0px;
 margin-left: 0%;
 margin-right: 0%;
  margin-bottom: 0px;
  color: black;
 align-items: start;
  text-align: start;
  
}
 
.app button{
    display: none;
    
  } 

  .app ul li {

    
  display: none;
    }  
    .categories{
        width: 100%;
      height: 190vh;
      margin-bottom: 30px;
      padding: 0px;
    }
    .categorie{
        width:60%;
     height: auto;
      margin-left: 30px;
      padding: 0px;
      margin-bottom: 30px;
    } 
   
    figure img{
        width: 90%;
       border-radius: 7px;
     }
     .imgs{
        width:60%;
        height:auto;
       text-align: center;
  
   padding: 0px 0px;
      
    }
    .img img {
        width:100%;
        height: auto;
       float: none;
      margin-left: 30px;
      
    }
    .img1 img {

             width:100%;
            height:auto;
           float: none;
           margin-left: 30px;
         
         margin-bottom: 20px;
                 
    }
    
          .products{
            width: 100%;
            height:auto;
           margin-left: 0px;
           padding: 0%;
          
        }
          .products h1{
            text-align:center;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 20px;
            
        }
        .product1{
            width:50%;
         height: auto;
            float:none;
            margin-left: 50px;
            padding: 0%;
        
        } 
     
.sells{
    width: 80%;
    height:200vh;
   
   text-align: center;
   padding: 0px;
   font-weight: 100;
}
.sells h1{
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sell1{
    width:80%;
 height:auto;
 
   margin-top: 10px;
    border: 2px solid gray;
border-radius: 15px;
margin-left: 20px;
margin-right: 0px;

}   
.sell1 img{
    width: 100%;
    height: auto;
}

.sell{
    width:80%;
 height: auto;
    float: left;
    padding:15px;
    border: 2px solid gray;
border-radius: 10px;
margin-right: 0px;
margin-top: 20px;
margin-left: 20px;

}  
.icons{
    width:70%;
    height:92vh;
  margin-left: 30px;
   
}

.icon{
    width:80%;
 height: auto;
   margin-left: 0px;
  margin-bottom: 15px;
}   
.footer{
    width: 73%;
    height: 120vh;
    background-color: skyblue;
    color:black;
    border: 0%;
    margin: 0%;
    
    
    }
    .last{
  width: 70%;
        text-align: start;
        margin-top: 0px;
   
    margin-left: 20px;
    
    }
    .last h5{
        font-size: medium;
        margin-bottom: 6px;
    }
    .last p{
        
        margin-bottom: 7px;
    }
    .f{
        width: 73%;
        height: 70px;
        background-color: rgb(174, 226, 247);
        margin: 0%;
        text-align: center;
    }
    
      
    }