*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    }
    
    
    
    header{
    width: 100%;
    height:20vh;
    border-bottom: 1px solid grey;
    }

.body{
margin: 0%;
border: 0%;
}

    .first{
        width:100%;
        height: 25px;
        background-color:rgb(174, 226, 247);
        margin-top: 0%;
        padding: 0%;
        border: 0%;
        margin-bottom: 10px;
    }
    .first h1{
        width: 600px;
        font-size:15px;
        font-weight:10px;
    }
    
  .freshcart{
    width:75%;
    float: left;
    text-align: center;
margin-right: 0%;
  }
    .freshcart i h2{
        width:25%;
      padding: 0px 3px;
     margin-left: 0%;
     margin-right: 50%;
      margin-bottom: 10px;
      color: black;
      float: left;
      text-align: start;
      
    }
   
    .freshcart button{
        width: 100px;
        height:39px;
        border: 1;
        background-color: transparent;
        border-radius: 5px;
        font-size: 15px;
    }
   
    .freshcart input{
        width:45%;
        height:39px;
        border: 2;
        padding: 2px;
        text-align:center;
        display: flex;
        justify-content:start;
        align-items: start;
        float: left;
        margin-top: 0%;
        margin-left: 110px;
        margin-right: 60px;
        border-radius: 5px;
        
        font-size:15px;
    }
    
 
   
    .flexCenter{
        display: flex; 
        justify-content:center;
         align-items: center;
          
       }
       .app{
        width:80%;
 
       }
    .app button{
        width:13%;
        height: 45px;
        padding: 3px 1px;
        
        background-color: skyblue;
        
        color:black;
        float: left;
        text-align: center;
       margin-left: 100px;
       margin-right:100px;
       margin-top: 15px;
        border: 0;
        font-size: 15px;
        
      } 
     
    
    
   .app ul li {

    display: inline-block;
    color: black;
   
  float: left;
    padding: 3px 10px;
    text-align: center;
   margin-top: 20px;
  
    }     
       .main{
           width: 100%;
           height:75vh;
         margin-bottom: 0px;
          text-align: center;
          padding: 0px;
          font-weight: 100;

       }
       
    
       .main img{
        width: 100%;
       }
      
       .categories{
        width: 100%;
        height:40vh;
       
       text-align: center;
       padding: 50px 90px;
       font-weight: 100;
    }
    .categories h1{
        margin-bottom: 6px;
        font-size: 20px;
        text-align: start;
        display: flex;
        justify-content: start;
        align-items: start;
    }
    .categorie{
        width:14%;
     height: 200px;
        float: left;
        padding:20px;
        border: 1px solid gray;
        border-radius:10px;
        margin-right:25px;
        margin-top: 5px;
    }
    
    
    figure{
        margin: 0px;
       
    }
    figure img{
       width: 100%;
      border-radius: 7px;
    } 
     .imgs{
        width:96%;
        height:30vh;
       text-align: center;
  margin-bottom: 0px;
   padding: 0px 70px;
      
    }
    .img img {
        width:47%;
        height: auto;
       float: left;
       margin-top: 3%;
    margin-right: 40px;
        border-radius:3; 
      
    }
    .img1 img{

             width:47%;
            height:auto;
           float: left;
            border-radius:3;
            border-radius: 3;
           margin-top: 3%;
           margin-right: 10px;
         
                 
    }
    .products{
        width: 100%;
        height:90vh;
       margin-bottom: 15px;
       text-align: center;
       padding: 50px 80px;
       font-weight: 100;
    }
    .products h1{
        width: 100%;
        text-align: start;
        display: flex;
        justify-content: start;
        align-items: start;
        margin-bottom: 10px;
    }
    .product1{
        width:18%;
     height: auto;
        float: left;
        padding:15px;
 border: 2px solid gray;
   border-radius: 10px;
   margin-right: 15px;
   margin-bottom: 10px;
    }   
   .product1 h1{
    font-size: 15px;
    
   }
   .product1 p{
    font-size: 13px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   }  
 .product1 button{
    background-color:skyblue;
    width: 50px;
    padding: 1;
    color: white;
 }
 
.sells{
    width: 100%;
    height:70vh;
   
   text-align: center;
   padding: 50px 80px;
   font-weight: 100;
}
.sells h1{
    width: 100%;
    display: flex;
    text-align: start;
    align-items: start;
    justify-content: start;
}
.sell1{
    width:24%;
 height:auto;
    float: left;
   margin-top: 10px;
 
border-radius: 15px;
margin-right: 21px;

}   
.sell1 img{
    height:410px;
}

.sell{
    width:22%;
 height: auto;
    float: left;
    padding:5px;
    border: 2px solid gray;
border-radius: 10px;
margin-right: 21px;
margin-top: 0px;

}   
  
.sell button{
background-color: skyblue;
width:200px;
height: 36px;
padding: 1;
border-radius:50px;
color: white;
margin-bottom: 16px;
}
.icons{
    width:100%;
    height: 25vh;
 margin-top: 0px;
   text-align: center;
   
   font-weight: 100;
  
}

.icon{
    width:16%;
 height: auto;
 float: left;
   
margin-left: 100px;
border-radius: 10px;

margin-bottom: 0px;
} 
.icon h1{
    font-size: 25px;
}  
.footer{
    width: 100%;
    height: 60vh;
    background-color: skyblue;
    color:black;
    border: 0%;
    margin: 0%;
    
    
    }
    .last{
  
        text-align: start;
        margin-top: 40px;
    float: left;
    margin-left: 120px;
    
    }
    .last h5{
        font-size: medium;
        margin-bottom: 6px;
    }
    .last p{
        
        margin-bottom: 6px;
    }
    .f{
        height: 50px;
        background-color: rgb(174, 226, 247);
        margin: 0%;
        text-align: center;
    }
    
    